.about-wrap p {
  font-size: 24px;
  text-indent: 36px; 
  margin-top: 0;
}

.about-wrap p.bold {
  font-size: 28px;
  font-weight: bolder;
}

.about-wrap p:last-child {
    margin: 0;
}

.about-wrap {
  text-align: justify;
  margin: 0px 56px 0px 56px;
}

.videoplayer {
  margin-bottom: 48px;
}

@media screen and (max-width: 600px) {
  .about-wrap {
    text-align: center;
    margin: 0px 24px 0px 24px;
  }

  .about-wrap p { 
    font-size: 16px;
    text-indent: 0; 
  }

  .about-wrap p.bold {
    font-size: 20px;
  }
}