.avatar {
  border-radius: 50%;
  background-color: #737578;
  padding: 32px;
}

.avatar img {
  vertical-align: middle;
  width: 56px;
  height: 56px;
}

.avatar-wrap {
  display: flex; 
  flex-direction: column; 
  gap: 16px;
  align-items: center;
  justify-content: space-evenly;
  width: 156px;
}